body {
    -webkit-text-size-adjust: 100%;
}
.item {
    display: inline-block;
    margin: 0 1em;
    text-align: center;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.item span {
    display: block;
    line-height: 2em;
}

/* icon style */
.stop {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #00C4FF;
    border-radius: 50%;
    position: relative;
}
.stop:after {
    content: '';
    display: block;
    position: absolute;
    width: .5em;
    height: .5em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00C4FF;
}

.pause {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    border: 1px solid #00C4FF;
    border-radius: 50%;
}
.pause:after,
.pause:before {
    content: '';
    display: block;
    width: .14em;
    height: .8em;
    position: absolute;
    top: .35em;    
    background-color: #00C4FF;    
}
.pause:before {
    left: .5em;
}
.pause:after {
    right: .5em;
}

.play {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #00C4FF;
    border-radius: 50%;
    position: relative;
}
.play:after {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-color: transparent transparent transparent #00C4FF;
    position: absolute;
    left: .5em;
    top: .25em;
}

.next {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #00C4FF;
    border-radius: 50%;
    position: relative;
}
.next:before {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-color: transparent transparent transparent #00C4FF;
    position: absolute;
    left: .4em;
    top: .25em;
}
.next:after {
    content: '';
    display: block;
    width: .1em;
    height: 1em;
    position: absolute;
    left: .99em;
    top: .25em;
    background-color: #00C4FF;
}

.prev {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #00C4FF;
    border-radius: 50%;
    position: relative;
}
.prev:before {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-color: transparent #00C4FF transparent transparent;
    position: absolute;
    right: .4em;
    top: .25em;
}
.prev:after {
    content: '';
    display: block;
    width: .1em;
    height: 1em;
    position: absolute;
    right: .99em;
    top: .25em;
    background-color: #00C4FF;
}

.fileIcon {
    width: 1.5em;
    height: 2em;
    background-color: #00C4FF;
    border-radius: .1em;
    position: relative;
}
.fileIcon:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    border-width: .3em;
    border-style: solid;
    border-color: #fff #fff #85D1E8 #85D1E8;
}
.fileIcon:after {
    content: 'doc';
    position: absolute;
    bottom: .2em;
    left: 0;
    font-size: .7em;
    color: #fff;
}

.setting {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(0deg, transparent 40%, #00C4FF 40%, #00C4FF 60%, transparent 60%),
        linear-gradient(60deg, transparent 42%, #00C4FF 42%, #00C4FF 58%, transparent 58%),
        linear-gradient(120deg, transparent 42%, #00C4FF 42%, #00C4FF 58%, transparent 58%);
    animation: loading-rotate 1.5s linear infinite;
}
.setting:after,
.setting:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.setting:after {
    width: 1em;
    height: 1em;
    background-color: #00C4FF;
    z-index: 1;
}
.setting:before {
    width: .5em;
    height: .5em;
    background-color: #fff;
    z-index: 2;
}

@keyframes loading-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading {
    width: .4em;
    height: .4em;
    border-radius: 50%;
    margin-top: -.5em;
    box-shadow: 0 -.7em 0 0 rgba(0, 196, 255, .25),
        .5em -.5em 0 0 rgba(0, 196, 255, .5),
        .7em 0 0 0 rgba(0, 196, 255, .75),
        .5em .5em 0 0 rgba(0, 196, 255, 1);
    animation: loading-rotate 1s linear infinite;
}
